*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --sthenos-color:#c3ef7b;
    --background-color: #f3f0e9;
    --header-color: #000000;
    --input-color: #dddddd;
}
@font-face {
    font-family: AmericaMono;
    src: url(assets/fonts/GT\ America\ Mono/GT-America-Mono-Black-Italic-Trial.otf);

}
@font-face {
    font-family: PANGRAM;
    src: url(assets/fonts/PP\ PANGRAM/GT-America-Mono-Light-Trial.otf);
}
html{
    height: 100vh;
}
body{
    background-color: var(--background-color);
    overflow: hidden;
    height: 100%;
}
#cabecera{
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin: 0 auto;
}
h1,h2,h4{
    margin: 0.5em 0 0.5em;
    text-align: center;
    color: var(--header-color);
    font-family: AmericaMono;
}
input{
    margin: 1px;
    width: 7em;
    background-color: var(--background-color);
    border: hidden;
    height: fit-content;
}
#reps_table{
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
table, th, td {
    border: 1px solid var(--header-color);
    border-collapse: collapse;
    margin: 4px;
    width: 85%;
    font-family: monospace;
}
td{
    padding: 1em 0;
    text-align: center;
    margin: 0;
    font-family: monospace;
    height: 30px;
    padding: 0;
    border: none;
}
thead{
    color: var(--background-color);
    background-color: var(--header-color);
    height: 2.3em;
}

#full-name{
    margin: 0 auto;
    width: 50%;
    background-color: var(--background-color);
    border-collapse: collapse;
    border-radius: 10px;
}
input[type='number']{
    font-family: AmericaMono;
    text-align: center;
    appearance: none;
    -moz-appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
select{
    text-align: center;
    line-height: 2;
}
.version{
   width: 25vw;
   height: 100%; 
   background-color: var(--background-color);
   border: none;
}
select:checked{
    color: var(--sthenos-color);
}
#table_png{
    background-color: var(--background-color);
    padding: 1.5em 0;
}
.green-data-row{
    background-color: var(--sthenos-color);
}
.version-green-data-row{
    background-color: var(--sthenos-color);
    width: 25vw;
    height: 100%; 
    border: none;
}
#cooper-result{
    text-align: center;
    margin: 7% auto;
}
#km-result{
    background-color: var(--sthenos-color);
}
#satisfaction-result{
    background-color: var(--header-color);
}
.final-result{
    border-radius: 9px;
    width: 60%;
    margin: 4% auto;
    padding: 5px;
    font-size: x-small;
}
.final-result p{
    display: inline-block;
}
#satisfaction-result p{
    color: var(--sthenos-color);
}
.social-media{
    margin: 4% auto;
}
.social-media p{
    margin-bottom: 3%;
}
.cooper-setting{
    margin: 0 auto;
}
.cooper-setting >*{
    display: inline-block;
}
.cooper-setting label{
    font-weight: bold;
}
.cooper-setting select{
    margin: 0 .5em;
    background-color: var(--input-color);
    border: none;
    border-radius: 6px;
    padding: 3px 6px;
}
.rounds{
    margin: .9em 0;;
}
.cooper-setting input[type=number]{
    background-color: var(--input-color);
    border-radius: 6px;
}